h2{
     text-align: center;
     margin-top: 20px;
}
h4{
     text-align: center;
}
.curmenu{
     text-align: center;
}
.progress{
     text-align: center;
}
.navmenu{
     text-align: center;
}