<!doctype html>

<html lang="en">
  
<head>
	<meta charset="utf-8">
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body>
	<header>
	<div class= "curmenu">
		<h1 id= "hFlow">FLOW</h1>
		<!-- <h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1> -->
      	<div class= hamburger>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<ul class= "myMenu">
      			<li class = "list"><a href= '/index' style= "color: black;">PROFILE</a></li>
      			<li class = "list"><a href='/flow' style= "color: black;">FLOW</a></li>
      			<li class = "list"><a href='/poses' style= "color: black;">POSES</a></li>
      			<li class = "list"><a href= '/help' style= "color: black;">HELP</a></li>
      			<li class = "list"><a href= '/' style= "color: black;">LOGOUT</a></li>
      			<!-- <li><a href='/vnoviceplay'>vnoviceplay</a></li>
      			<li><a href='/vyogiplay'>vyogiplay</a></li> -->

      		</ul>
      	</div>
	</div>
	</header>
	
	<table style= "width: 100%">

	<tr>
		<td><center><a href="/noviceplay"><div style="width: 280px; height: 300px; padding-top: 3%; padding-bottom: 2%; color: #46D9E3;"><h1 id = "novicelink">NOVICE</h1> 
			<h3 style= "color: black">(Click here if you do not practice yoga regularly)</h3></div></a></center></td>
	</tr>
	<tr>
		<td><center><a href="/yogiplay"><div style="width: 280px; height: 300px; padding-top: 3%; padding-bottom: 2%; color: #46D9E3;"><h1 id = "yogilink">YOGI</h1>
			<h3 style= "color: black">(Click here if you have a regular yoga practice)</h3></div></a></center></td>
	</tr>
	</table>


	<!-- </div>
	<table style= "width:100%">
	<tr>
		<td><h4 id= "myProfile"><a href='/index'>PROFILE</a></h4></td>
		<td><h4 id= "myFlow"><a href='/flow'>FLOW</a></h4></td>
		<td><h4 id= "myPoses"><a href='/poses'>POSES</a></h4></td>
	</tr>
	</table>
	</div> -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ham.js"></script>
</body>
</html>