<!doctype html>

<html lang="en">
  
<head>
	<meta charset="utf-8">
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/uFlow.js"></script>
</head>

<body>
	<header>
	<div class= "curmenu">
		<h1 id="myInfo"><a href='/information'>
			<span class="glyphicon glyphicon-info-sign"></span></a>
		</h1>
		<h1 id= "hFlow">FLOW</h1>
		<h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1>
      	<div class= hamburger>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<ul class= "myMenu">
      			<li><a href= '/index'>PROFILE</a></li>
      			<li><a href='/flow'>FLOW</a></li>
      			<li><a href='/poses'>POSES</a></li>
      		</ul>
      	</div>
	</div>
	</header>
	
	<table style= "width: 100%">

	<tr>
		<td><center><a href="/noviceplay"><div style="width: 280px; height: 300px; padding-top: 5%; padding-bottom: 2%; background-color: blue;"><h1>NOVICE 
			(Click here if you do not practice yoga regularly)</h1></div></a></center></td>
	</tr>
	<tr>
		<td><center><a href="/yogiplay"><div style="width: 280px; height: 300px; padding-top: 5%; padding-bottom: 2%; background-color: purple;"><h1>YOGI 
			(Click here if you have a regular yoga practice)</h1></div></a></center></td>
	</tr>
	</table>


	</div>
	<table style= "width:100%">
	<tr>
		<td><h4 id= "myProfile"><a href='/index'>PROFILE</a></h4></td>
		<td><h4 id= "myFlow"><a href='/flow'>FLOW</a></h4></td>
		<td><h4 id= "myPoses"><a href='/poses'>POSES</a></h4></td>
	</tr>
	</table>
	</div>
</body>
</html>