<!doctype html>

<html lang="en">
  
<head>
	<meta charset="utf-8">
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
</head>

<body>
	<div class= "curmenu">
		<h1>FLOW</h1>
		<h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1>
	</div>

	<style>
	table, th, td{
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td{
		padding: 15px;
	}
	</style>
	<table style= "width: 100%">


	<tr>
		<td><center><a href="/play"><div style="width: 20%; padding-top: 2%; padding-bottom: 2%; background-color: blue;"><h4>NOVICE</h4></div></a></center></td>
	</tr>
	<tr>
		<td><center><a href="/play"><div style="width: 20%; padding-top: 2%; padding-bottom: 2%; background-color: purple;"><h4>YOGI</h4></div></a></center></td>
	</tr>
	</table>


	</div>
	<table style= "width:100%">
	<tr>
		<td><h2 id= "myProfile"><a href='/'>PROFILE</a></h2></td>
		<td><h2 id= "myFlow"><a href='/flow'>FLOW</a></h2></td>
		<td><h2 id= "myPoses"><a href='/poses'>POSES</a></h2></td>
	</tr>
	</table>
	</div>
</body>
</html>