<html>

<head>
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body>
	<header>
	<div class= "curmenu">
		<h1 id="bHelp"><a href='/help' class= "btn btn-info btn-lg"> 
			<span class="glyphicon glyphicon-question-sign"></span> Need Help</a>
      	</h1>
		<h1 id="hProfile">PROFILE</h1>
		<!-- <h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1> -->
      	<div class= hamburger>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<ul class= "myMenu">
      			<li><a href= '/index'>PROFILE</a></li>
      			<li><a href= '/flow'>FLOW</a></li>
      			<li><a href= '/poses'>POSES</a></li>
      		<!-- 	<li><a href= '/help'>HELP</a></li> -->
      			<li><a href= '/'>LOGOUT</a></li> 
      		</ul>
      	</div>
	</div>
	</header>

	<!--this makes the table go under under stuff for some rsn<div class= "progress"--> 
	
	<table style= "width: 100%">
	<tr>
		<td><h4>FLOWS DONE: {{flowsdone}}</h4></td>
		<td><h4>YOGA TIME: {{yogatime}} min</h4></td>
		<td><h4>BREATH CYCLE: {{breathCycle}}</h4></td>
	</tr>
	</table>
	</div>

	<div>
		<h2>FLOW HISTORY</h2>
	</div>

	<div class ="calender">
		<img src="/calender.jpg" alt="Calender" width=320px height=300px">
	</div>

	<br></br>

	<div>
	<table style= "width:100%">
	<!-- <tr>
		<td><h4 id= "myProfile"><a href='/index'>PROFILE</a></h4></td>
		<td><h4 id= "myFlow"><a href='/flow'>FLOW</a></h4></td>
		<td><h4 id= "myPoses"><a href='/poses'>POSES</a></h4></td>
	</tr>
	</table>
	</div> -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ham.js"></script>
	<script type="js/index_B.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92983307-1', 'auto');
  ga('send', 'pageview');

</script>	
</body>

</html>