<html>
<head>
	<meta charset="utf-8">
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class= "curmenu">
		<h1 id= "hInfo">INFORMATION</h1>
		<h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1>
	</div>

	<div class= "info">
		<h3>
		Yoga is a Hindu spiritual discipline, including breath control, simple meditation, and the adoption of specific bodily postures ॐ
		</h3>

		<h3>
		To start a workout, select FLOW from the menu and pick your level.
		</h3>

		<h3>
		We ask for your breath cycle so that you can be mindful of your breath and how it changes ॐ
		Breath cycle= inhale time (seconds)+ exhale time (seconds) 
		</h3>

		<h3>
		If you need more guidance in the postures, consult the Poses pageॐ
		</h3>

	</div>
	
	</div>
	<table style= "width:100%">
	<tr>
		<td><h2 id= "myProfile"><a href='/index'>PROFILE</a></h2></td>
		<td><h2 id= "myFlow"><a href='/flow'>FLOW</a></h2></td>
		<td><h2 id= "myPoses"><a href='/poses'>POSES</a></h2></td>
	</tr>
	</table>
	</div>
</body>
</html>