<html>

<head>
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class= "curmenu">
		<h1 id="hLogin">uFLOW</h1>
	</div>
	<br>	
	<div class= "welcome">
		<h4>Welcome to uFlow! Let our audio guided flows take your gaze inward.</h4>	
	</div>
	<div class="form">
		<label for="user">Name:</label>
		<input type="text" class="form-control" id="user" placeholder="Enter Username">
	</div>

	<div class="form">
		<label for="pass">Password:</label>
		<input type="text" class="form-control" id="pass" placeholder="Enter password">
	</div>
	<!-- <div class="checkbox">
		<label><input type="checkbox">Remember me</label>
	</div> -->
	<div class="enter">
		<a href="/flow" type="button" class="btn btn-default">Enter</a>
	</div>

</body>

</html>