<!doctype html>

<html lang="en">
  
<head>
	<meta charset="utf-8">
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
</head>

<body>
	<div class= "curmenu">
		<h1>FLOW</h1>
	</div>

	<style>
	table, th, td{
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td{
		padding: 15px;
	}
	</style>
	<table style= "width: 100%">
	<tr>
		<td><h4>NOVICE</h4></td>
		<td><h5>YOGU</h5></td>
	</tr>
	</table>
	</div>
	<table style= "width:100%">
	<tr>
		<td><h2 id= "myProfile">PROFILE</h2></td>
		<td><h2 id= "myFlow">FLOW</h2></td>
		<td><h2 id= "myPoses">POSES</h2></td>
	</tr>
	</table>
	</div>
</body>
</html>