<!doctype html>

<html lang="en">
  
<head>
	<meta charset="utf-8">
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class= "curmenu">
		<h1 id="hPlay">PLAY</h1>
		<h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1>
	</div>

	<div>
		<h1 id= "QBreath">HOW LONG IS YOUR BREATH CYCLE?  :</h1>
		<h1 id= "myBreath">
			<!--box with input in it-->

			<button id= "myPlay" type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-play"></span>
			</button>	
	</div>

	<style>
	table, th, td{
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td{
		padding: 15px;
	}
	</style>

	</div>
	<table style= "width:100%">
	<tr>
		<td><h2 id= "myProfile"><a href='/'>PROFILE</a></h2></td>
		<td><h2 id= "myFlow"><a href='/flow'>FLOW</a></h2></td>
		<td><h2 id= "myPoses"><a href='/poses'>POSES</a></h2></td>
	</tr>
	</table>
	</div>
</body>
</html>