<html>

<head>
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body>
	<header>
	<div class= "curmenu">
		<h1 id="hPoses">POSES</h1>
		<!-- <h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1> -->
      	<div class= hamburger>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<ul class= "myMenu">
      			<li><a href= '/index'>PROFILE</a></li>
      			<li><a href='/flow'>FLOW</a></li>
      			<li><a href='/poses'>POSES</a></li>
      			<li><a href= '/information'>INFORMATION</a></li>
      			<li><a href= '/'>LOGOUT</a></li>
      		</ul>
      	</div>
	</div>
	</header>

	{{#each poses}}
	<h6><center>{{name}}</center></h6>
	<hr><center><img width= "200" height= "200" src= "{{imgURL}}"></center></hr>
	<hr><center><iframe width="300" height="315" src="{{videoURL}}"></iframe></center></hr>
	{{/each}}
	<!--this makes the table go under under stuff for some rsn<div class= "progress"--> 
	
	<!-- <table style= "width:100%">
	<tr>
		<td><h4 id= "myProfile"><a href='/index'>PROFILE</a></h4></td>
		<td><h4 id= "myFlow"><a href='/flow'>FLOW</a></h4></td>
		<td><h4 id= "myPoses"><a href='/poses'>POSES</a></h4></td>
	</tr>
	</table>
	</div> -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/uFlow.js"></script>
</body>

</html>