<html>

<head>
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
</head>

<body>
	<div class= "curmenu">
		<h1>POSES</h1>
	</div>

	<!--this makes the table go under under stuff for some rsn<div class= "progress"--> 
	
	<style>
	table, th, td{
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td{
		padding: 15px;
	}
	</style>
	<table style= "width:100%">
	<tr>
		<td><h2 id= "myProfile"><a href='/'>PROFILE</a></h2></td>
		<td><h2 id= "myFlow"><a href='/flow'>FLOW</a></h2></td>
		<td><h2 id= "myPoses"><a href='/poses'>POSES</a></h2></td>
	</tr>
	</table>
	</div>
</body>

</html>