<!doctype html>

<html lang="en">
  
<head>
	<meta charset="utf-8">
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body>
	<header>
	<div class= "curmenu">
		<h1 id="hPlay">YOGI PLAY</h1>
		<!-- <h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1> -->
      	<div class= hamburger>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<div class= hammenu></div>
      		<ul class= "myMenu">
      			<li><a href= '/index'>PROFILE</a></li>
      			<li><a href='/flow'>FLOW</a></li>
      			<li><a href='/poses'>POSES</a></li>
      			<li><a href= '/information'>INFORMATION</a></li>
      			<li><a href= '/'>LOGOUT</a></li>
      		</ul>
      	</div>
	</div>
	</header>

	<div>
		<h1 id= "QBreath">HOW LONG IS YOUR BREATH CYCLE?  :</h1>
		<h1 id= "myBreath">
		<form action="/action_page.php">
 		 	<select id = "time" name="time">
    			<option value="6 sec">6 sec</option>
    			<option value="8 sec">8 sec</option>
    			<option value="10 sec">10 sec</option>
    			<option value="12 sec">12 sec</option>
  			</select>
		</form>
		<br><br>
		<p> Click play to begin your audio guided flow </p>
	</div>

	<div class= "myPlay">
		<center><iframe src="https://www.youtube.com/embed/Ti2hTQQ99Ys" width="300" height="315"></iframe></center>
	</div>


	<style>
	table, th, td{
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td{
		padding: 15px;
	}
	</style>

	</div>
	<!-- <table style= "width:100%">
	<tr>
		<td><h4 id= "myProfile"><a href='/index'>PROFILE</a></h4></td>
		<td><h4 id= "myFlow"><a href='/flow'>FLOW</a></h4></td>
		<td><h4 id= "myPoses"><a href='/poses'>POSES</a></h4></td>
	</tr>
	</table> -->
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/yogiplay.js"></script>
	<script src="js/uflow.js"></script>
</body>
</html>