<!doctype html>

<html lang="en">
  
<head>
	<meta charset="utf-8">
	<title>UFlow</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/uFlow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/yogiplay.js"></script>
</head>

<body>
	<div class= "curmenu">
		<h1 id="hPlay">YOGI PLAY</h1>
		<h1 id="mySet"><a href='/settings'> 
			<span class="glyphicon glyphicon-cog"></span></a>
      	</h1>
	</div>

	<div>
		<h1 id= "QBreath">HOW LONG IS YOUR BREATH CYCLE?  :</h1>
		<h1 id= "myBreath">
		<form action="/action_page.php">
 		 	<select id = "time" name="time">
    			<option value="6 sec">6 sec</option>
    			<option value="8 sec">8 sec</option>
    			<option value="10 sec">10 sec</option>
    			<option value="12 sec">12 sec</option>
  			</select>
  			<input type="submit">
		</form>
		<br><br>
		<p> Click on the Play button when you are ready </p>
	</div>

	<div class="myPlay">
		<i class="glyphicon glyphicon-play-circle b-play" id="play"></i>
	</div>

	<style>
	table, th, td{
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td{
		padding: 15px;
	}
	</style>

	</div>
	<table style= "width:100%">
	<tr>
		<td><h2 id= "myProfile"><a href='/index'>PROFILE</a></h2></td>
		<td><h2 id= "myFlow"><a href='/flow'>FLOW</a></h2></td>
		<td><h2 id= "myPoses"><a href='/poses'>POSES</a></h2></td>
	</tr>
	</table>
	</div>
</body>
</html>