body{
	width: 100%;
}
h2{
     text-align: center;
     margin-top: 20px;
}
h4{
     text-align: center;
}
h6{
	font-size: 250%;
}
.button {
	 border: 50px solid black;
	}

.curmenu{
	display: flex;
	justify-content: center;
}
.hamburger{
	margin: 20px;
}
.hammenu{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0px 0px ;
}
.myMenu{
	display: none;
}
#hLogin{
	padding: 100px 0px 0px 0px; 
}
.form{
	padding:50px 50px 0px 100px;
}
.checkbox{
	padding: 50px 0px 0px 150px;
}
.enter{
	padding: 0px 50px 0px 150px;
}
.calender{
	width: 320px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
}
#hProfile{
	display: inline-block;
}
#hFlow{
	display: inline-block;
}
#hPoses{
	display: inline-block;
}
#hPlay{
	display: inline-block;
}
#hSet{
	display: inline-block;
}
#hInfo{
	display: inline-block;
}
#QBreath{
	float: left;
	padding: 50px 0px 0px 50px;
}
#myBreath{
	float: left;
	padding: 0px 0px 0px 50px;
}
#mySet{
	display: inline-block;
}

.progress{
     text-align: center;
}
.navmenu{
    text-align: center;
}
.myPlay{
	 /*border: 5px solid black;*/
	/*position: absolute;*/
	/*left: 50%;*/
	/*right: 50%;*/
	/*padding: 500px 0px 0px 0px;*/
}
#play{
	font-size: 10em;
	/*text-align: center;*/
}
#pause{
	font-size: 10em;
	/*text-align: center;*/
	/*display: none;*/
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
th, td{
	padding: 15px;
}


