body{
	width: 100%;
}
h2{
     text-align: center;
     margin-top: 20px;
}
h4{
     text-align: center;
}
.curmenu{
	display: flex;
	justify-content: center;
}
#hLogin{
	padding: 100px 0px 0px 0px; 
}
.form{
	padding:50px 50px 0px 100px;
}
.checkbox{
	padding: 50px 0px 0px 150px;
}
.enter{
	padding: 0px 50px 0px 150px;
}
.calender{
	width: 320px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
}
#hProfile{
	display: inline-block;
}
#hFlow{
	display: inline-block;
}
#hPoses{
	display: inline-block;
}
#hPlay{
	display: inline-block;
}
#hSet{
	display: inline-block;
}
#hInfo{
	display: inline-block;
}
#QBreath{
	float: left;
	padding: 50px 0px 0px 50px;
}
#myBreath{
	float: left;
	padding: 0px 0px 0px 50px;
}
#myInfo{
	display: inline-block;
}
#mySet{
	display: inline-block;
}

.progress{
     text-align: center;
}
.navmenu{
    text-align: center;
}
.myPlay{
	/*position: absolute;*/
	/*left: 50%;*/
	/*right: 50%;*/
	padding: 500px 0px 0px 0px;
}
#play{
	font-size: 200px;
	text-align: center;
	
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
th, td{
	padding: 15px;
}


